<footer class="bk-footer">
	<div class="copyright">
		<div class="contain">
			 {{widget('profile', 'footercopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
			 {{widget('socialicons', 'social', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
		 </div><!--end contain-->
	</div><!--end copyright-->
</footer>